<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center"><%= @crop_folder.user.name %>さんの<%= @crop_folder.crop_name %>日記一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if @crop_folder.diaries.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th width="15%"></th>
              <th width="20%">日付</th>
              <th class="admin_min_invisiable", width="20%">タイトル</th>
              <th width="30%">本文</th>
              <th width="15%"></th>
            </tr>
          </thead>
          <% @crop_folder.diaries.each do |diary| %>
            <tbody>
              <tr>
                <td><%= image_tag diary.get_crop_image(70,70) %></td>
                <td><%= diary.diary_date %></td>
                <td class="admin_min_invisiable"><%= diary.title %></td>
                <td><%= diary.body %></td>
                <td><%= link_to "削除", admin_crop_folder_diary_path(diary), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>===　作物日記の投稿はありません　===</p>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h5 class="text-center">コメント一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% if @crop_folder.crop_comments.length > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th>投稿者</th>
              <th>日付</th>
              <th>コメント</th>
              <th></th>
            </tr>
          </thead>
          <% @crop_folder.crop_comments.each do |crop_comment| %>
            <tbody>
              <tr>
                <td><%= link_to edit_admin_user_path(crop_comment.user) do %>
                      <%= crop_comment.user.name %></br>
                      <%= image_tag crop_comment.user.get_profile_image(70,70) %></td>
                    <% end %>
                <td><%= crop_comment.created_at.strftime('%Y-%m-%d') %></td>
                <td><%= crop_comment.comment %></td>
                <td><%= link_to "削除", admin_crop_folder_crop_comment_path(crop_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>===　コメントはありません　===</p>
      <% end %>
    </div>
  </div>
</div>