<p>マイーページ</p>
<table class="table">
  <%= image_tag @user.get_profile_image(300,300), class: "img" %>
  <% if current_user != @user %>
    <%= link_to "チャットを始める", chat_path(@user.id) %>
  <% end %>
  <tr>
    <th style="width: 40%">名前</th>
    <td style="width: 60%"><%= @user.name %></td>
  </tr>
  <tr>
    <th style="width: 40%">自己紹介</th>
    <td style="width: 60%" class="long_text"><%= @user.introduction %></td>
  </tr>
  <tr>
    <th style="width: 40%">作物お気に入り　<i class="fas fa-heart"></i></th>
    <td style="width: 60%"><%= link_to "#{@user.favorites.count} 件", user_favorites_path(@user) %></td>
  </tr>
  <tr>
    <th style="width: 40%">商品気になる　　<i class="fas fa-star"></i></th>
    <td style="width: 60%"><%= link_to "#{@user.likes.count} 件", user_likes_path(@user) %></td>
  </tr>
</table>
<%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-cog"></i> 会員情報編集
<% end %>