<div class = "container">
  <div class ="row">
    <div class="col-lg-5">
      <%= render "info", user: @user %>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h5>今までの栽培</h5>
      <p class="user_about_text">栽培中</p>
      <% if @user.crop_folders.active.length > 0 %>
        <% @user.crop_folders.each do |crop_folder| %>
          <% if crop_folder.is_active? %>
            <%= render 'users/crop', crop_folder: crop_folder %>
          <% end %>
        <% end %>
      <% else %>
        <p class="ml-5 my-4">=== 栽培中の作物はありません ===</p>
      <% end %>
      <p class="user_about_text">栽培完了</p>
      <% if @user.crop_folders.unactive.length > 0 %>
        <% @user.crop_folders.each do |crop_folder| %>
          <% unless crop_folder.is_active? %>
            <%= render 'users/crop', crop_folder: crop_folder %>
          <% end %>
        <% end %>
      <% else %>
        <p  class="ml-5 my-4">=== 栽培完了した作物はありません ===</p>
      <% end %>
      <%= link_to "新しい作物の栽培を始める", user_path(current_user), class: "btn btn-info" %>
      <h5 class="mt-5">出品した商品</h5>
      <p class="user_about_text">販売中</p>
      <% if @user.items.active.length > 0 %>
        <% @user.items.each do |item| %>
          <% if item.is_active? %>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th style="width: 50%">●<%= item.item_name %></th>
                    <td style="width: 50%">
                      <%= link_to item_path(item.id), class: "btn btn-outline-secondary btn-block" do %>
                        出品した商品をみる
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
          <% end %>
        <% end %>
      <% else %>
        <p class="ml-5 my-4">=== 販売中の商品はありません ===</p>
      <% end %>
      <p class="user_about_text">販売停止中</p>
      <% if @user.items.unactive.length > 0 %>
        <% @user.items.each do |item| %>
          <% unless item.is_active? %>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th style="width: 50%">●<%= item.item_name %></th>
                  <td style="width: 50%">
                    <%= link_to item_path(item.id), class: "btn btn-outline-secondary btn-block" do %>
                      出品した商品をみる
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      <% else %>
        <p class="ml-5 my-4">=== 販売停止中の商品はありません ===</p>
      <% end %>
      <%= link_to "新しい商品を出品する", items_path, class: "btn btn-info mr-5" %>
      <%= link_to "あなたの全ての出品 >>", user_items_path(@user) %>
    </div>
  </div>
</div>
