<div class = "container">
  <div class ="row">
    <div class="col-lg-5">
      <p>マイーページ</p>
      <table class="table">
        <%= image_tag @user.get_profile_image(300,300), class: "img" %>
        <tr>
          <th style="width: 40%">名前</th>
          <td style="width: 60%"><%= @user.name %></td>
        </tr>
        <tr>
          <th style="width: 40%">自己紹介</th>
          <td style="width: 60%"><%= @user.introduction %></td>
        </tr>
        <tr>
          <th style="width: 40%">お気に入り</th>
          <td style="width: 60%"><%= link_to "#{@user.favorites.count}", user_favorites_path %></td>
        </tr>
      </table>
      <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i> 会員情報編集
      <% end %>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <p>〜今までの栽培〜</p>
      <% @user.crop_folders.each do |crop_folder| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th style="width: 40%">●<%= crop_folder.crop_name %></th>
              <td style="width: 30%">
                <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-secondary btn-block" do %>
                 <i class="fas fa-pen"></i> 日記
                <% end %>
              </td>
              <td style="width: 30%">
                <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-secondary btn-block"   do %>
                  <i class="fas fa-calendar"></i> 計画
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= link_to "新しい作物の栽培を始める", user_path(current_user), class: "btn btn-info" %>
       <p class="mt-5">〜出品した商品〜</p>
    </div>
  </div>
</div>
