<div class="container mb-5">
  <div class="row">
    <div class="col-lg-5 item_form">
      <% if @user == current_user %>
        <div class="row">
          <div class="col-lg-10">
            <h4>商品を登録</h4>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12 mb-5">
            <%= render 'layouts/errors', obj: @new_item %>
            <%= render 'items/form', item: @new_item %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-lg-10">
            <%= render 'info', user: @user %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-5 item_temporary_form">
    </div>
    <div class="col-md-10 mx-auto col-lg-6 offset-lg-1">
      <h5><%= @user.name %>の出品した作物</h5>
      <div class="new_item_button mb-4">
        <%= link_to new_item_path, class: "btn btn-info" do %>
          <i class="fas fa-seedling"></i> 追加
        <% end %>
      </div>
      <% if @user.items.length > 0 %>
        <%= render 'items/index', items: @items %>
      <% else %>
        <p>=== 出品した商品はありません ===</p>
      <% end %>
    </div>
  </div>
</div>
