<div class="container">
  <div class="row">
    <div class="col-md-5">
      <% if @user == current_user %>
        <h4>新しく作物を出品する</h4>
        <%= render 'layouts/errors', obj: @new_item %>
        <%= render 'items/form', item: @new_item %>
      <% else %>
        <%= render 'info', user: @user %>
      <% end %>
    </div>
    <div class="col-md-6 offset-md-1">
      <h5><%= @user.name %>の出品した作物</h5>
      <% if @user.items.length > 0 %>
        <%= render 'items/index', items: @items %>
      <% else %>
        <p>=== 出品した商品はありません ===</p>
      <% end %>
    </div>
  </div>
</div>
