<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @user == current_user %>
       <h4>新しい作物の栽培を登録</h4>
       <%= render 'layouts/errors', obj: @crop_folder %>
       <%= render 'crop_folders/form', crop_folder: @crop_folder%>
      <% else %>
        <%= render "info", user: @user %>
      <% end %>
    </div>
    <div class="col-md-6 offset-md-2">
      <h5><%= @user.name %>の栽培作物</h5>
      <% if @user.crop_folders.length > 0 %>
        <%= render 'crop_folders/index', crop_folders: @crop_folders %>
      <% else %>
        <p>=== 登録した作物はありません ===</p>
      <% end %>
      <%= paginate @crop_folders %>
    </div>
  </div>
</div>

