<div class="container">
  <div class="row">
    <div class="col-12 px-3">
    <h5><%= @user.name %>さんとのチャット</h5>
      <div class="message">
        <table class="table table-borderless message_table">
          <thead>
            <tr>
              <th width="5%"></th>
              <th width="45%"><%= @user.name %></th>
              <th width="45%" class="text-right"><%= current_user.name %></th>
              <th width="5%"></th>
            </tr>
          </thead>
          <div class="chats_index">
            <%= render "index", chats: @chats %>
          </div>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="errors">
        <%= render "layouts/errors", obj: @chat %>
      </div>
      <div class="message_form mt-5">
        <%= render "form", chat: @chat %>
      </div>
    </div>
  </div>
</div>
