<div class="container month_crop_container">
  <div class="row month_crop_content">
    <div class="col-md-5 col-lg-5 mx-auto">
      <div class="month_crop_background"></div>
      <div class="ribbon mb-5">
        <h3>今月のおすすめ栽培</h3>
      </div>
    </div>
  </div>
  <% if @month_crops.length > 0 %>
    <% @month_crops.each do |month_crop| %>
      <div class="row mb-5 mt-2 month_crop_content">
        <div class="col-md-10 col-lg-7 mx-auto">
          <div class="row">
            <div class="col-md-6 col-lg-6 mb-4">
              <%= image_tag month_crop.get_crop_image(250,250) %>
            </div>
            <div class="col-md-6 col-lg-6">
              <h6 class="month_crop mb-4"><%= month_crop.month %>の栽培</h6>
              <p class="font-weight-bold"><%= month_crop.crop_name %></p>
              <p>収穫時期は<%= month_crop.harvest_time %>です。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 mx-auto mb-5">
          <h5><%= month_crop.crop_name %>はどんな作物？？</h5>
          <p class="long_text mb-5"><%= month_crop.introduction %></p>
          <h5><%= month_crop.crop_name %>の栽培方法</h5>
          <p class="long_text"><%= month_crop.method %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center">=== まだ今月のおすすめ栽培が登録されていません  ===</p>
  <% end %>
</div>