<% crop_folders.each do |crop_folder| %>
  <%= image_tag crop_folder.user.get_profile_image(80,80) %>
  <%= crop_folder.user.name %>さん家の作物
  <div class="crop_box">
    <table class="table">
      <tr>
        <th>作物名：</th>
        <td><%= crop_folder.crop_name %></td>
      </tr>
      <tr>
        <th>栽培開始日：</th>
        <td><%= crop_folder.new_crop_date %></td>
      </tr>
      <tr>
        <th>場所：</th>
        <td><%= crop_folder.place %></td>
      </tr>
      <tr>
        <th>メモ：</th>
        <td><%= crop_folder.memo %></td>
      </tr>
    </table>
    <% if crop_folder.user == current_user %>
      <%= link_to "成長を記録する", crop_folder_path(crop_folder.id) %>
      <%= link_to "栽培を計画する", crop_folder_plans_path(crop_folder.id) %>
    <% else %>
      <%= link_to "成長記録をみる", crop_folder_path(crop_folder.id) %>
      <%= link_to "栽培計画をみる", crop_folder_plans_path(crop_folder.id) %>
    <% end %>
  </div>
<% end %>