<% crop_folders.each do |crop_folder| %>
  <%= link_to user_about_path(crop_folder.user) do %>
    <%= image_tag crop_folder.user.get_profile_image(80,80) %>
  <% end %>
  <%= link_to "#{crop_folder.user.name}さん家の作物", user_path(crop_folder.user) %>
    <% if crop_folder.favorited_by?(current_user) %>
    <p>
      <%= link_to crop_folder_favorites_path(crop_folder), method: :delete do %>
        ♥<%= crop_folder.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to crop_folder_favorites_path(crop_folder), method: :post do %>
        ♡<%= crop_folder.favorites.count %> いいね
      <% end %>
    </p>
    <% end %>
    <p><%= link_to "#{crop_folder.crop_comments.count} コメント", crop_folder_path(crop_folder.id) %></p>
  <div class="crop_container mb-5">
    <table class="table crop_box">
      <tr>
        <th style="width: 35%">作物名：</th>
        <td style="width: 65%"><%= crop_folder.crop_name %></td>
      </tr>
      <tr>
        <th style="width: 35%">栽培開始：</th>
        <td style="width: 65%"><%= crop_folder.new_crop_date %></td>
      </tr>
      <tr>
        <th style="width: 35%">場所：</th>
        <td style="width: 65%"><%= crop_folder.place %></td>
      </tr>
      <tr>
        <th style="width: 35%">メモ：</th>
        <td style="width: 65%"><%= crop_folder.memo %></td>
      </tr>
    </table>
    <div class="crop_folder_image"><%= image_tag crop_folder.get_crop_image(150,150) %></div>
    <% if crop_folder.user == current_user %>
      <td style="width: 30%">
        <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-info btn-block" do %>
         <i class="fas fa-pen"></i> 日記を書く
        <% end %>
      </td>
      <td style="width: 30%">
        <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-info btn-block" do %>
          <i class="fas fa-calendar"></i> 計画を立てる
        <% end %>
      </td>
    <% else %>
      <td style="width: 30%">
        <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-pen"></i> 日記を見る
        <% end %>
      </td>
      <td style="width: 30%">
        <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-secondary btn-block"   do %>
          <i class="fas fa-calendar"></i> 計画を見る
        <% end %>
      </td>
    <% end %>
  </div>
<% end %>