<% crop_folders.each do |crop_folder| %>
  <%= image_tag crop_folder.user.get_profile_image(80,80) %>
  <%= crop_folder.user.name %>さん家の作物
  <div class="crop_box mb-5">
    <table class="table">
      <tr>
        <th style="width: 30%">作物名：</th>
        <td style="width: 70%"><%= crop_folder.crop_name %></td>
      </tr>
      <tr>
        <th style="width: 30%">栽培開始日：</th>
        <td style="width: 70%"><%= crop_folder.new_crop_date %></td>
      </tr>
      <tr>
        <th style="width: 30%">場所：</th>
        <td style="width: 70%"><%= crop_folder.place %></td>
      </tr>
      <tr>
        <th style="width: 30%">メモ：</th>
        <td style="width: 70%"><%= crop_folder.memo %></td>
      </tr>
    </table>
    <% if crop_folder.user == current_user %>
      <td style="width: 30%">
        <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-info btn-block" do %>
         <i class="fas fa-pen"></i> 日記を書く
        <% end %>
      </td>
      <td style="width: 30%">
        <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-info btn-block" do %>
          <i class="fas fa-calendar"></i> 計画を立てる
        <% end %>
      </td>
    <% else %>
      <td style="width: 30%">
        <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-pen"></i> 日記を見る
        <% end %>
      </td>
      <td style="width: 30%">
        <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-secondary btn-block"   do %>
          <i class="fas fa-calendar"></i> 計画を見る
        <% end %>
      </td>
    <% end %>
  </div>
<% end %>