<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% if @crop_folder.user == current_user %>
        <h4><%= @crop_folder.crop_name %>の栽培日記</h4>
        <%= render 'layouts/errors', obj: @diary %>
        <%= form_with model:[@crop_folder, @diary], url: crop_folder_diaries_path(@crop_folder.id), local:true do |f| %>
          <div class="form-group">
            <%= f.label :diary_date %>
            <%= f.date_field :diary_date, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :weather %>
            <%= f.select :weather, ['晴れ', 'くもり', '雨', '雪', 'その他'], { include_blank: '選択してください'}, { class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :crop_image %>
            <%= f.file_field :crop_image, class: "form-control-file", accept: 'image/*' %>
          </div>
          <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit class: 'btn btn-success' %>
          </div>
        <% end %>
          <%= link_to"予定を立てる", crop_folder_plans_path(@crop_folder), class: 'btn btn-info mb-5' %>
      <% else %>
          <%= render 'users/info', user: @crop_folder.user %>
      <% end %>
    </div>
    <div class="col-md-4 offset-md-1">
      <% unless @crop_folder.user == current_user %>
        <h5 class="mb-5"><%= @crop_folder.crop_name %>の栽培日記</h5>
      <% end %>
      <% if @crop_folder.diaries.length > 0 %>
        <% @crop_folder.diaries.first(3).each do |diary| %>
          <div class="diary_box">
            <table class="table table-borderless">
              <span class="masking-tape">
                <%#= diary.id %>
              </span>
              <tr>
                <td><%= diary.diary_date %></td>
                <td>天気：<%= diary.weather %></td>
                <td><% if diary.user == current_user %>
                      <%= link_to "削除", crop_folder_diary_path(@crop_folder, diary), method: :delete, class: "btn btn-danger btn-sm" %>
                    <% end %>
                </td>
              </tr>
            </table>
            <div class="crop_image">
              <%= image_tag diary.get_crop_image(300,200) %>
            </div>
            <p class="daiary_title"><%= diary.title %></p>
            <p class="long_text"><%= diary.body %></p>
          </div>
        <% end %>
        <% if @crop_folder.diaries.length > 3 %>
          <details>
            <summary class="mb-5">全ての日記を表示</summary>
            <% @crop_folder.diaries.offset(3).each do |diary| %>
              <div class="diary_box">
                <table class="table table-borderless">
                  <span class="masking-tape">
                    <%#= diary.id %>
                  </span>
                  <tr>
                    <td><%= diary.diary_date %></td>
                    <td>天気：<%= diary.weather %></td>
                    <td><% if diary.user == current_user %>
                          <%= link_to "削除", crop_folder_diary_path(@crop_folder, diary), method: :delete, class: "btn btn-danger btn-sm" %>
                        <% end %>
                    </td>
                  </tr>
                </table>
                <div class="crop_image">
                  <%= image_tag diary.get_crop_image(300,200) %>
                </div>
                <p class="daiary_title"><%= diary.title %></p>
                <p class="long_text"><%= diary.body %></p>
              </div>
            <% end %>
          </details>
        <% end %>
      <% else %>
        === 登録された栽培日記はありません ===
      <% end %>
    </div>
    <div class="col-md-3">
     <div>
      <p>コメント件数：<%= @crop_folder.crop_comments.count %></p>
      <% @crop_folder.crop_comments.each do |crop_comment| %>
      <div class="comment_user">
        <%= image_tag crop_comment.user.get_profile_image(30,30), class: "user_profile_image" %>
        <%= link_to "#{crop_comment.user.name}", user_about_path(crop_comment.user) %>
      </div>
        <p class="mb-0"><%= crop_comment.comment %></p>
        <p>(<%= crop_comment.created_at.strftime('%Y/%m/%d') %>)</p>
      <% end %>
      </div>
      <div>
      <%= render 'layouts/errors', obj: @crop_comment %>
      <%= form_with model: [@crop_folder, @crop_comment], url: crop_folder_crop_comments_path(@crop_folder.id) do |f| %>
        <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに入力",class: 'form-control' %>
        <%= f.submit "コメントを送信", class: 'btn btn-submit' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
