<div class="container mb-5">
  <div class="row">
    <div class="col-lg-3 col-xl-3 diary_form">
      <%=  render 'diaries/form' %>
    </div>
    <div class="col-lg-3 col-xl-3 diary_temporary_form">
    </div>
    <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1 col-xl-4 offset-xl-1 mb-5">
      <% unless @crop_folder.user == current_user %>
        <h5 class="mb-5 diary_title"><%= @crop_folder.crop_name %>の栽培日記</h5>
      <% end %>
      <h5 class="mb-5 diary_crop_name"><%= @crop_folder.crop_name %>の栽培日記</h5>
      <% if @crop_folder.user == current_user %>
        <div class="new_diary_button mb-4">
          <%= link_to new_crop_folder_diary_path(@crop_folder), class: "btn btn-info" do %>
            <i class="fas fa-seedling"></i> 追加
          <% end %>
        </div>
      <% end %>
      <% if @crop_folder.diaries.length > 0 %>
        <% @crop_folder.diaries.first(3).each do |diary| %>
          <div class="diary_folder">
            <div class="diary_box">
              <table class="table table-borderless">
                <span class="masking-tape">
                </span>
                <tr>
                  <td><%= diary.diary_date %></td>
                  <td>天気：<%= diary.weather %></td>
                  <td><% if diary.user == current_user %>
                        <%= link_to "削除", crop_folder_diary_path(@crop_folder, diary), method: :delete, class: "btn btn-danger btn-sm" %>
                      <% end %>
                  </td>
                </tr>
              </table>
              <div class="crop_image">
                <%= image_tag diary.get_crop_image(300,200) %>
              </div>
              <p class="daiary_title"><%= diary.title %></p>
              <p class="long_text"><%= diary.body %></p>
            </div>
          </div>
        <% end %>
        <% if @crop_folder.diaries.length > 3 %>
          <details>
            <summary class="mb-5">全ての日記を表示</summary>
            <% @crop_folder.diaries.offset(3).each do |diary| %>
              <div class="diary_box">
                <table class="table table-borderless">
                  <span class="masking-tape">
                  </span>
                  <tr>
                    <td><%= diary.diary_date %></td>
                    <td>天気：<%= diary.weather %></td>
                    <td><% if diary.user == current_user %>
                          <%= link_to "削除", crop_folder_diary_path(@crop_folder, diary), method: :delete, class: "btn btn-danger btn-sm" %>
                        <% end %>
                    </td>
                  </tr>
                </table>
                <div class="crop_image">
                  <%= image_tag diary.get_crop_image(300,200) %>
                </div>
                <p class="daiary_title"><%= diary.title %></p>
                <p class="long_text"><%= diary.body %></p>
              </div>
            <% end %>
          </details>
        <% end %>
      <% else %>
        <p class="text-center">=== 登録された栽培日記はありません ===</p>
      <% end %>
    </div>
    <div class="col-md-8 mx-auto col-lg-3">
      <div class="comment_count">
        <%= render 'crop_comments/count', crop_folder: @crop_folder %>
      </div>
      <div class="comment_index">
        <%= render 'crop_comments/index', crop_folder: @crop_folder %>
      </div>
      <div class="comment_error">
        <%= render 'layouts/errors', obj: @crop_comment %>
      </div>
      <div class="comment_form">
        <%= render 'crop_comments/form', crop_folder: @crop_folder, crop_comment: @crop_comment %>
      </div>
    </div>
  </div>
</div>
