<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto signin_wrapper">
      <div class="row">
        <div class="col signin_container">
          <h5>会員ログイン</h5>
    
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field mb-2">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control signin_box' %>
            </div>
    
            <div class="field mb-2">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control signin_box' %>
            </div>
    
            <% if devise_mapping.rememberable? %>
              <div class="field mb-3">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
    
            <div class="actions mb-5">
              <%= f.submit "ログイン", class: 'btn signin_submit' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row signin_link my-5">
        <div class="col">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
