 <% items.each do |item| %>
  <div class-"crop_item_info">
    <%= link_to user_about_path(item.user) do %>
      <%= image_tag item.user.get_profile_image(70,70), class: "user_profile_image" %>
    <% end %>
    <%= link_to "#{item.user.name}さん家の商品", user_items_path(item.user), class: "link" %>
    <span id = "like_buttons_<%= item.id %>"><%= render "likes/btn", item: item %></span>
  </div>
  <div class="row">
    <div class="item_container mb-5">
      <table class="table item_box col-md-7">
        <tr>
          <td><%= item.item_name %></td>
          <td><%= item.item_count %> 個</td>
        </tr>
        <tr>
          <td><%= item.price.to_s(:delimited) %> 円</td>
          <td>(１つあたり<%= (item.price.div(item.item_count)).to_s(:delimited) %>円 ) </td>
        </tr>
        <tr>
          <th>地域：</th>
          <td><%= item.sales_area %></td>
        </tr>
        <tr>
          <th>受渡：</th>
          <td><%= item.sales_method %></td>
        </tr>
        <tr>
          <th>説明：</th>
          <td class="long_text"><%= item.introduction %></td>
        </tr>
      </table>
      <div class="col-md- offset-md-1">
        <div class="sales_status <%= item.is_active_color %>"><%= item.is_active ? "販売中" : "販売停止中" %></div>
        <div class="crop_item_image"><%= image_tag item.get_item_image(150,150) %></div>
        <% if item.user == current_user %>
          <%= link_to "編集", edit_item_path(item) %>
        <% end %>
        <% if current_user != item.user %>
          <%= link_to chat_path(item.user), class: "btn btn-submit" do %>
            <i class="fas fa-envelope"></i><br>
            メッセージ
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>