<div class="container">
  <div class="row">
     <div class="col">
      <%= render 'layouts/errors', obj: @plan %>
      <%= form_with model: @plan, local:true do |f| %>
        <div class="form-group">
          <%= f.label :start_time %>
          <%= f.datetime_select :start_time, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :crop_title %>
          <%= f.select :crop_title, @crop_folders.map{ |crop_folder| [crop_folder.crop_name, crop_folder.id] }, { include_blank: 'あなたの作物を選択してください'}, { class: 'form-control'} %>
          <%#= f.select :crop_title, Crop_folder.all.collect { |p| [ p.crop_name, p.id ] }, { include_blank: '作物を選択してください'}, {class: 'form-control'} %>
          <%#= f.collection_select :crop_title, CropFolder.all, :id, :crop_name, { include_blank: 'あなたの作物を選択してください'}, { class: 'form-control'} %>
          <%#= f.text_field :crop_title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :action %>
          <%= f.text_area :action, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="col">
      <%= month_calendar events: @plans do |date, plans| %>
        <%= date.day %>
		    <% plans.each do |plan| %>
		      <div>
		        <%= plan.crop_title %>: <%= plan.action %>
		      </div>
		    <% end %>
      <% end %>
    </div>
  </div>
</div>