<div class="header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light pl-5">
    <a class="navbar-brand" href="#">菜園の世界</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto pl-5">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "#", class: "nav-link" do %>
              あなたの作物一覧<span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "nav-link" do %>
              成長記録<span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "nav-link" do %>
              商品一覧<span class="sr-only">(current)</span>
            <% end %>
          </li>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
              ログアウト<span class="sr-only">(current)</span>
            <% end %>
          </li>
        <% else %>
            <%= link_to root_path, class: "nav-link" do %>
              ホーム<span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              ログイン<span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              新規登録<span class="sr-only">(current)</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>